/*CSS file for World Para Powerlifting Moodle*/
/*Mainly edited by Dave Foord*/

/*card mechanism for the front page: using information from https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/*/
.WPPO_Cards_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.WPPO_Card {
    display: flex;
    flex: 1 0 220px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 1rem .25em;
    border-color: #d7dfe3;
    border-style: solid;
    border-width: 2px;
border-radius: 5%;
Background-color: #f7f7f7;
}

/* Sets position for buttons in flexboxes */
.posBottom {
   text-align:center;
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}

/*End of card mechanism*/
